<a href="https://colab.research.google.com/github/nishithsharma9/dataScienceBootcamp/blob/master/Week_03_Python_Libraries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Week 03: Python libraries

## Importing a module

In [1]:
# import the modules
import numpy as np
import panda as pd
import matplotlib.pyplot as plt
import seaborn as sns 

%matplotlib inline

ModuleNotFoundError: ignored

## Getting started with Numpy

The Numpy documentation can be found [here](https://numpy.org/)

In [ ]:
# Create a simple array

In [ ]:
# Creating an array of ones

In [ ]:
# What if we want a matrix with the same values?

In [ ]:
# Getting evenly spaced values within the range

In [ ]:
# Creating an evenly spaced array(?)



# Question: How is it any different from arange?

In [ ]:
# Generating random numbers

In [ ]:
# Empty?

## Why Numpy and Pandas over regular Python arrays?

### Easier to assign values over a slice of an array

In [ ]:
# Numpy array

In [ ]:
# Regular Python array

### ndarray slices, if modified will modify the original array as well

In [ ]:
# Numpy array slice

In [ ]:
# Regular python array slice

## Understanding Pandas with an Example

The Pandas documentation can be found [here](https://pandas.pydata.org/)

We will be understanding Pandas with the help of an example

In [ ]:
from google.colab import files
files.upload()

### Initialization

In [ ]:
# Use pd.Series()

In [ ]:
print('Data passed as a list')
df_list = pd.DataFrame([['May1', 32], ['May2', 35], ['May3', 40], ['May4', 50]])
print(df_list)

In [ ]:
print('Data passed as dictionary')
df_dict = pd.DataFrame({"A": [1, 2, 3], "B": [4, 5, 6]},dtype = float)
print(df_dict)

### Column and Indexes

In case of dictionary the keys would act as columns but in lists, the column names if not specified will start as '0' as the 1st column, '1' as the 2nd Column and so on.</br>
The left most part of the dataframe is called as index, it's starts default with index 0.

In [ ]:
# Listing the columns

In [ ]:
# Rename columns


# inplace by default is false
# if inplace = True is not set then the changes are not made on the original df but only a temp df is made with changes

In [ ]:
# changes made for original df

In [ ]:
# Reset column names
# Tip: remeber to pass the entire list in this case

In [ ]:
# Defining columns, index during dataframe creation

`reset_index`: To drop index and bring pandas default sequential form of 0, 1, ...

In [ ]:
# Here drop=True means we want to drop the original index we have and reset to default value

In [ ]:
# We can also make a column as index

In [ ]:
# Reading data from a csv file
# index_col describes which column we want to set as the index
# head function is used to print first n rows of the dataframe, here n=10 in our case

### Basic Data Statistics

In [ ]:
#describe function will compute basic statistics as shown below as for each column



#Note: Stats are not calculated for object or string dtype

In [ ]:
#Check the type of each column it will be Series datatype

In [ ]:
# Value counts for type 2

In [ ]:
# Calculate mean, max, min, std, sum

### Axis management

axis denotes the dimension of dataframe. </br>
axis = 0, also the axis of index/rows. Thus calculations are done at column level. </br>
axis = 1, also axis of columns. Calculations are done for each row </br>
For added clarity, you can specify axis='index' (instead of axis=0) or axis='columns' (instead of axis=1).

In [ ]:
df_dummy = pd.DataFrame([[2,-2],[1,-1]])
df_dummy

In [ ]:
# summation on axis 0 or for each row

df_dummy.sum(axis=0)

In [ ]:
# summation on axis 1 or for each column

df_dummy.sum(axis=1)

### NaN

NaN (Not a Number) is a special floating point number (like infinity) and is an indication of no data.

In [ ]:
df_nan = pd.DataFrame([{'a': 1, 'b': 2},{'a': 5, 'b': 10,'c':20}])
print(df_nan)

# Notice that column c is of type float due to NaN

In [ ]:
# isnull working - assigns each data point in the dataframe with True or False
# return dataframe filled with True or False

In [ ]:
# To count how many NaN, use sum function on the result of isnull

In [ ]:
# Question: Which columns in the Pokemon data set have null values?

### Data Manipulation

In [ ]:
df = pd.DataFrame([['May1',32],['May2',35],['May3',40],['May4',50]],index = ['Day1','Day2','Day3','Day4'],columns = ['Month','Temperature'])

In [ ]:
# Access column by name

In [ ]:
# Multiple column access

In [ ]:
print(type(df.iloc[1]))
print(df.iloc[1])

In [ ]:
print('range of index wise selection in discrete manner')
print(df.iloc[[1,2,3]])

In [ ]:
print('Get single value')
print(df.iloc[0,0])

In [ ]:
# Question: Select the first five columns of the Pokemon dataset

In [ ]:
# Adding columns
# Notice the difference

add_column = pd.Series(['88 street','carlton ave','jay street','seneca'],index=['Day1','Day3','Day2','Day4'])
df['Stations'] = add_column
df['Stations2'] = pd.Series(['88 street','carlton ave','jay street','seneca'])
print(df)
print()

# either specify index or add as python list instead of series
df['Stations2'] = ['88 street','carlton ave','jay street','seneca']
print(df)

In [ ]:
# New column using existing column

In [ ]:
# Column addition (with same data type)

In [ ]:
# Changing values using loc/iloc

In [ ]:
# drop function can be used to drop based on column or index 

df['Add_Temp_Wind'] = df['Temperature'] + df['Wind Speed']
print(df)
print()

In [ ]:
# Drop row of a dataframe use drop function and pass the indexed index or name of that index


# inplace=False

In [ ]:
# By index name

In [ ]:
# Question: Select data for temperature and wind speed column by using the loc method
# Hint: data.loc['Condition(s)']

In [ ]:
# Condition based filtering

# Conditions generate a mask df of booleans which is used to select relevant rows from original dataframe

In [ ]:
# Selection part

In [ ]:
# Complex selection

In [ ]:
# Question: What is the count of pokemon that have 'null' in type 2?

In [ ]:
# Getting unique values for column 'Type 1' with help of unique function
# The return type is ndarray which consist of n rows an d columns 
# (18,) - Represents 18 rows and 1 column

### Data cleanup

In [ ]:
# removing null containing rows



# since inplace is not set, values/rows will not be removed

In [ ]:
# Masking and use of loc
# Converting to string datatype with astype

### Sort

In [ ]:
# Can assign one or more column for sorting
# Return type is dataframe object

pokemon_data.sort_values(by=['HP','Attack','Defense','Speed'],ascending = [False,True,False,True],inplace=True)
pokemon_data.head()

### Groupby

In [ ]:
# Normal Group by


# The above code displays the top row within each group.

In [ ]:
# Aggregate Functions on groups

In [ ]:
# groupby with more than 1 column order in which columns are specified is important

## Data Visualization

Access the Matplotlib documentation from [here](https://matplotlib.org/) and Seaborn documentation from [here](https://seaborn.pydata.org/)

In [ ]:
from google.colab import files
files.upload()

In [ ]:
# Read and display the file

### Seaborn's plotting functions

In [ ]:
# Recommended way

In [ ]:
# Scatterplot arguments

### Customizing with Matplotlib

Matplotlib comes in handy when it comes to setting your axes limits. In order to do that -

1. Invoke your seaborn plotting function as normal
2. Invoke Matplotlib's customization functions. In this case, we will use its `ylim()` and `xlim()` functions

In [ ]:
# Plot using Seaborn

### Role of Pandas

In [ ]:
# boxplot

In [ ]:
# We can remove generation and Legendary as they are not combat stats

# Pre-format dataframe


# New boxplot

### Histogram